@import '/src/styles.scss';

.card {
    padding: 1.5rem;
    cursor: pointer;
    position: relative;
    height: 80%;

    &:hover {
        h3 {
            transition: all 0.2s ease-out;
            color: $darkGray;
        }
    }
}

img {
    position: absolute;
    top: -25px;
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 13px;
}

.flex-container {
    display: flex;
    align-items: center;
    margin: 1.5rem 0 1rem;
}

.dot {
    background-color: $darkGray;
    height: 6px;
    width: 6px;
    margin: 0 0.6rem;
    border-radius: 50%;
}

.location {
    margin: 1.5rem 0 0.5rem;
}
