@import '/src/styles.scss';

.card {
    padding: 1.5rem;
    cursor: pointer;
    position: relative;

    &:hover {
        h3 {
            color: $darkGray;
        }
    }
}

img {
    position: absolute;
    top: -25px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 13px;
}

.flex-container {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.dot {
    background-color: $darkGray;
    height: 6px;
    width: 6px;
    margin: 0 0.6rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.location {
    margin: 1.5rem 0 0.5rem;
}
