@import '/src/styles.scss';

.card {
    padding: 1.5rem;
}

form {
    display: grid;
    grid-template-columns: 11fr 1fr;
    grid-gap: 3rem 2rem;
}

input[type=text] {
    border: none;
    font-size: 1rem;
    width: 100%;
    padding: 1rem 0;

    &:focus {
        outline: none;
    }
    
    &:focus-visible {
        outline: none;
    }
}

.search-container {
    display: flex;
    align-items: center;
}

fa-icon {
    margin-right: 1rem;
    color: $violet;
    font-size: 1.4rem;
}

.end-form {
    display: flex;
}

.checkbox {
    display: flex;

    span {
        line-height: auto;
    }
}