@import '/src/styles.scss';

:host {
    display: flex;
    justify-content: center;
    margin-top: -3rem;
}

.column-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side {
    display: flex;
}

.row-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 6px 0 0 6px;
    border: none;
}

.button-container {
    display: flex;
    margin-right: 2rem;
}

.card {
    width: 100%;
}