@import '/src/styles.scss';

:host {
    height: 160px;
    width: 100%;
    background-repeat: no-repeat;
}

.header {
    height: 160px;
    border-radius: 0 0 0px 100px;
    background: url('../../../assets/header-background.svg');
    background-size: 100% auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    height: 70%;
}

h1 {
    font-size: 2.2rem;
    color: $white;
    cursor: pointer;
}