@import '/src/styles.scss';

.loading-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}

.jobs-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem 2rem;
}
