@import '/src/styles.scss';

.loading-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}

.jobs-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.job {
    width: 30%;
    padding: 0 0.9rem;
    margin: 1.6rem 0;

    @media only screen and (max-width: $lg) {
        width: 45%;
    }

    @media only screen and (max-width: $md) {
        width: 100%;
    }
}