@import '/src/styles.scss';

.container {
    margin: 6rem 0 0;
}

.loading-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}

.jobs-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 0.8fr;
    grid-gap: 3rem 2rem;
    margin-bottom: 5rem;

    @media only screen and (max-width: $xl) {
        grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: $md) {
        grid-template-columns: 1fr;
    }
}
