@import '/src/styles.scss';

.card {
    margin-top: 2rem;
    padding: 2rem;
}

.flex-container {
    display: flex;
    align-items: center;
    margin: 1.5rem 0 1rem;
}

.dot {
    background-color: $darkGray;
    height: 6px;
    width: 6px;
    margin: 0 0.6rem;
    border-radius: 50%;
}

.location {
    margin: 1.5rem 0 0.5rem;
}
