@import '/src/styles.scss';

.card {
    margin: 2rem 0;
    padding: 3rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.flex-container {
    display: flex;
    align-items: center;
}

.dot {
    background-color: $darkGray;
    height: 6px;
    width: 6px;
    margin: 0 0.6rem;
    border-radius: 50%;
}

.location {
    margin: 1.5rem 0 0.5rem;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
}