@import '/src/styles.scss';

button {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    padding: 0.9rem 1.3rem;
    transition: all 0.2s ease-out;
    border-radius: 6px;
}

button.primary {
    color: $white;
    background-color: $violet;

    &:hover {
        background-color: $lightViolet;
    }
}

button[disabled] {
    cursor: not-allowed;
    background-color: $gray;

    &:hover {
        background-color: $gray;
    }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        color: unset;
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    margin-left: 0.5rem;
  }

  .lds-ring div {
    box-sizing: border-box;
    display: block;
    width: 19px;
    height: 19px;
    margin: 3px;
    border: 3px solid $white;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $white transparent transparent transparent;
  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }