@import '/src/styles.scss';

.container {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    margin: 0 0.6rem;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: .2;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.slider:before {
    background-color: $violet;
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

input:checked + .slider:before {
    background-color: $violet;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
}

input:checked:hover:before, .slider:hover:before {
    background-color: $lightViolet !important;
}

fa-icon {
    color: $white;
    font-size: 1.3rem;
    padding-top: 0.1rem;
}