@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$violet: #5964E0;
$lightViolet: #939BF4;
$darkBlue: #19202D;
$midnight: #121721;
$darkGray: #6E8098;
$gray: #9DAEC2;
$lightGray: #F4F6F8;
$white: #FFFFFF;

* {
    font-family: 'Kumbh Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}
  
body:not(.dark-mode-preloading) {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

body.my-dark-mode {
    background-color: $midnight;
    color: $white;

    .card {
        background-color: $darkBlue;
    }

    img {
        background-color: $darkBlue;
    }
}

body.my-light-mode {
    background-color: $lightGray;
    color: $midnight;

    .card {
        background-color: $white;
    }

    img {
        background-color: $white;
    }
}

h1 {
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: $violet
}

p, span {
    font-size: 16px;
    line-height: 26px;
    color: $darkGray;
    margin: 0;
}

.capitalize {
    text-transform: capitalize;
}

.card {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
