@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$violet: #5964E0;
$lightViolet: #939BF4;
$darkBlue: #19202D;
$midnight: #121721;
$darkGray: #6E8098;
$gray: #9DAEC2;
$lightGray: #F4F6F8;
$white: #FFFFFF;

$imgBorderLight: #EDF1F7;
$imgBorderDark: #232E42;

* {
    font-family: 'Kumbh Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}
  
body:not(.dark-mode-preloading) {
    transition: all 0.2s ease-out;
}

body.my-dark-mode {
    background-color: $midnight;
    color: $white;

    .card {
        background-color: $darkBlue;
    }

    .job-img {
        border: 1px solid $imgBorderDark;
    }

    .secondary {
        color: $white;
        background: rgba(255, 255, 255, 0.1);

        &:hover {
            background: rgba(255, 255, 255, 0.25);
        }
    }

    input[type=text] {
        background-color: $darkBlue;
        color: $white;
    }

    .full-time {
        color: $white;
    }
}

body.my-light-mode {
    background-color: $lightGray;
    color: $midnight;

    .card {
        background-color: $white;
    }

    .job-img {
        border: 1px solid $imgBorderLight;
    }

    .secondary {
        color: $violet;
        background-color: rgba(89, 100, 224, 0.15);

        &:hover {
            background-color: rgba(89, 100, 224, 0.35);
        }
    }

    .full-time {
        color: $midnight;
    }
}

h1 {
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;    
}

h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    transition: all 0.2s ease-out;
}

h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: $violet
}

p, span {
    font-size: 16px;
    line-height: 25px;
    color: $darkGray;
}

img {
    background-color: $white;
    object-fit: scale-down;
}

ol li::marker {
    color: $violet;
    font-weight: bold;
}

ul li::marker {
    color: $violet;
    font-weight: bold;
}

ul li {
    color: $darkGray;
    margin: 0.2rem 0;
    line-height: 1.6rem;
}

p {
    margin: 1.5rem 0 0;
}

.job-description {
    h2 {
        font-size: 20px;
        font-weight: bold;
        line-height: 29px;
        margin: 1.5rem 0 0;
    }
}

.how-to-apply {
    h3 {
        color: $white;
    }

    p {
        color: $white;
    }

    a {
        font-size: 1rem;
        font-weight: bold;
        color: $white;
        text-decoration: none;
        border-bottom: 3px solid $white;
        padding-bottom: 4px;
    }
}

.container {
    margin: 0 auto;
    max-width: 1340px;
    padding: 0 2rem;

    @media only screen and (max-width: $xl) {
        max-width: 1140px;
    }
    
    @media only screen and (max-width: $lg) {
        max-width: 960px;
    }

    @media only screen and (max-width: $md) {
        max-width: 720px;
    }

    @media only screen and (max-width: $sm) {
        max-width: 540px;
    }
}

.capitalize {
    text-transform: capitalize;
}

.card {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.time {
    text-transform: capitalize;
}